<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard"><i class="fas fa-users-cog fa-2x"></i></a>
</nav>

<div class="container">
<div class="row justify-content-md-center">
    <div class="col-8">
<form method="post" action="/">
    <div class="form-group" >
      <label for="exampleInputEmail1">Enter Name of the book</label>
      <input type="name" class="form-control" name="bookname"  placeholder="Enter book title">
    </div>
    <h4>OR</h4>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Author's Name</label>
        <input type="name" class="form-control" name="authorname"  placeholder="Enter book's author">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>